html{
    background-color: #222222;
    font-family: 'Hind', sans-serif;
    color: white;
    font-size: 22px;
}

P{
    font-size: 22px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

nav{
    font-size: 55px;
    text-align: center;
    color: #ff1616;
}
.podlink{
    font-size: 22px;
    text-align: center;
}

h1{
    text-align: center;
    font-family: 'Bungee Outline', cursive;
    font-size: 50px;
    background-image: 
    linear-gradient(90deg, #ff1616, #ffde59);
    background-clip: text;
    color: transparent;
    animation: color-change 12s infinite;
  }

  @keyframes color-change {
    0% { color: #ff1616; }
    50% { color: #ffde59; }
    100% { color: #ff1616; }
  }
  


a{
    text-align: center;
    color: #ffde59;
}

a:hover{
  color:#ff1616
}

.spotify{
    text-align: center;
}

.home{
    font-size: 30px;
}

div{
    animation: 2s anim-lineUp;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.twit{
    animation: 2s anim-lineUp;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}