html{
  background-color: #222222;
  font-family: 'Hind', sans-serif;
  font-family: 'Outfit', sans-serif;
}
.title{
  text-align: left;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li{
  float: right;
  display: inline;
  font-size: 25px;
  font-family: 'Hind', sans-serif;
}

li a{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

h1{
 text-align: center;
 font-family: 'Lacquer', cursive;
 font-size: 50px;
 color: white;



}

p{
  text-align: center;
font-family: 'Red Hat Mono', monospace;
color:white;
font-size: 25px;

}



.github{
  text-align: center;
}

.playing-cards{
  text-align: center;
  height: 315px;
  width: 560px;
  position: absolute;
  top: 60%; right: 0%;
  bottom: 60%; left: 30%;
  
}

.closr{
 text-align: center;
  height: 315px;
  width: 560px;
  position: absolute;
  top: 110%; right: 0%;
  bottom: 50%; left: 30%;
  
}




nav{
  text-align: center;
  font-size: 75px;
  color: black;
  
}

a{
  text-decoration: none;
  color: yellow;
}
a:hover{
  color:red;
}

.proj{
text-align:center;
font-size:15px;
}
